1000G.EUR.QC.16.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.19.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.21.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.1.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.15.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.8.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.5.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.6.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.17.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.18.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.22.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.3.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.7.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.10.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.11.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.14.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.2.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.20.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.4.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.9.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.12.frq filter=lfs diff=lfs merge=lfs -text
1000G.EUR.QC.13.frq filter=lfs diff=lfs merge=lfs -text
