weights.hm3_noMHC.12.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.15.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.18.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.22.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.5.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.7.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.9.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.10.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.11.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.13.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.1.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.16.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.17.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.19.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.2.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.20.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.21.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.4.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.14.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.8.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.6.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
weights.hm3_noMHC.3.l2.ldscore.gz filter=lfs diff=lfs merge=lfs -text
